<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>scemail</param-name>
        <param-value>paradisepublicschool@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>scmobile</param-name>
        <param-value>7000190193</param-value>
    </context-param>
    <context-param>
        <param-name>about</param-name>
        <param-value>Education, God of Big things.  Sanmati is formidably committed to unleash the animal spirit to spread education in and around and beyond our area seamlessly. Our mission is to empower each and every child with education that equips them with teeming opportunities, prospects and potentials.  Sanmati aims to groom students who can turn adversity in to advantage. We intent to promote ideas and ideals that transcend time and space. Education has an incomparable magnetic charm that presents a unique experience for the self fulfillment and self empowerment.  Our area of focus gels and bodes well with our mission statement. Our indomitable and indefatigable spirit in inflaming academic rigor and we aspire and strive to continue with the same for years to come till our mission ambition is accomplished.</param-value>
    </context-param>
    <context-param>
        <param-name>learn_online</param-name>
        <param-value>Learn online with the in depth courses provided to you in video and pdf formats.</param-value>
    </context-param>
    <context-param>
        <param-name>expert_teacher</param-name>
        <param-value>A great team of faculty members, always available to you.</param-value>
    </context-param>
    <context-param>
        <param-name>best_classrooms</param-name>
        <param-value>You get an outstanding infrastructure with all the smart facilities available.</param-value>
    </context-param>
    <context-param>
        <param-name>scaddress</param-name>
        <param-value>Anand Nagar, near blind school.&lt;br&gt;Dewas 455001</param-value>
    </context-param>
    <context-param>
        <param-name>scsession</param-name>
        <param-value>2019-2020</param-value>
    </context-param>
    <context-param>
        <param-name>scname</param-name>
        <param-value>Paradise Public School</param-value>
    </context-param>
    <context-param>
        <param-name>sclogo</param-name>
        <param-value>assets/img/school_logo.JPG</param-value>
    </context-param>
    <context-param>
        <param-name>blogupload</param-name>
        <param-value>assets\img\blog\</param-value>
    </context-param>
    <servlet>
        <servlet-name>Gallery</servlet-name>
        <servlet-class>servlet.Gallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contacts</servlet-name>
        <servlet-class>servlet.Contacts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>servlet.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogSingle</servlet-name>
        <servlet-class>servlet.BlogSingle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewResult</servlet-name>
        <servlet-class>servlet.ViewResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfile</servlet-name>
        <servlet-class>servlet.ViewProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogWrite</servlet-name>
        <servlet-class>servlet.BlogWrite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadCourse</servlet-name>
        <servlet-class>servlet.UploadCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Video</servlet-name>
        <servlet-class>servlet.Video</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pdf</servlet-name>
        <servlet-class>servlet.Pdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudent</servlet-name>
        <servlet-class>servlet.AddStudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Gallery</servlet-name>
        <url-pattern>/gallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contacts</servlet-name>
        <url-pattern>/contacts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogSingle</servlet-name>
        <url-pattern>/blog-single</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewResult</servlet-name>
        <url-pattern>/viewresult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfile</servlet-name>
        <url-pattern>/viewprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogWrite</servlet-name>
        <url-pattern>/blogwrite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadCourse</servlet-name>
        <url-pattern>/uploadcourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Video</servlet-name>
        <url-pattern>/video</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudent</servlet-name>
        <url-pattern>/addstudent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
